#contact {
    padding: 50px 0;
    background-color: #2e2e2e; 
    position: relative; 
  }
  
  #contact .container {
    padding: 0 15px;
  }
  
  /* Section Title */
  #contact h2 {
    font-size: 11.5rem; 
    color: #a7a7a7; 
    font-weight: bold; 
    text-transform: uppercase; 
    align-self: flex-start;
    margin-top: 1.1rem;
  }
  
  /* Contact Form */
  #contact-form {
    display: flex;
    flex-direction: column;
    gap: 10px; 
    padding: 30px; 
    width:160%;
  }
  
  /* Input Fields */
  #contact-form input[type="text"],
  #contact-form input[type="email"],
  #contact-form textarea {
    width: 100%;
    padding: 14px;
    font-size: 1.4rem;
    border: none;
    border-radius: 5px;
    transition: border-color 0.3s, box-shadow 0.3s;
  }
  
  /* Input Focus Effects */
  #contact-form input:focus,
  #contact-form textarea:focus {
    border-color: #3498db; 
    box-shadow: 0 0 5px rgba(52, 152, 219, 0.5);
    outline: none;
  }
  
  /* Textarea */
  #contact-form textarea {
    height: 150px; 
    resize: none;
  }
  #contact-form textarea::placeholder{
    font-family:  var(--ff-gilroy);
  }
  
  /* Submit Button */
  #contact-form button {
    background-color: #d24a4a; 
    color: #fff;
  width: 100%;
  padding: 15px;
  font-size: 1.6rem;
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    transition: background-color 0.3s, transform 0.2s; 
  }
  
  /* Button Hover Effects */
  #contact-form button:hover {
    background-color: #2980b9; 
    transform: translateY(-2px); 
  }
  
  /* Button Focus Effect */
  #contact-form button:focus {
    outline: none; 
    box-shadow: 0 0 5px rgba(52, 152, 219, 0.5); 
  }
  
