/* counter */


/* .count{
  min-height: 40vh;
} */

.counter{
    height: 40vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    padding: 20px;
    flex-wrap: wrap;
  }
  
  .box{
    display: flex;
    flex-direction: column;
    gap: 2%;
    width: 35vw;
    
    height: 40%;
    background-color: rgb(235, 238, 238);
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    color: black;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .box > div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .box > i{
    font-size: 1.5em;
  }
  
  .box > div > h1{
    font-size: 120% ;
    font-weight: 900;
  }
  
  .box > div > p{
    font-size: small;
  }


@media (min-width: 575px){
    .counter{
        height: 60vh;
      }
    
      .box > i{
        font-size: 2em;
      }
      
      .box > div > h1{
        font-size: 150% ;
      }
      
      .box > div > p{
        font-size: medium;
      }
}

@media (min-width: 768px){
    .counter{
        height: 60vh;
      }
  
      .box{
        flex-direction: row;
        gap: 15%;
      }
    
      .box > i{
        font-size: 3em;
      }
      
      .box > div > h1{
        font-size: 150% ;
      }
      
      .box > div > p{
        font-size: medium;
      }
}

@media (min-width: 992px){
    .counter{
        height: 50vh;
      }
  
      .box{
        width: 20vw;
        height: 35vh;
        flex-direction: column;
      }
    
      .box > div > h1{
        font-size: 200% ;
      }
}

