/* CSS for SkillWise Sign In Page */
body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #ff9a9e 0%, #fecfef 50%, #fecf6d 100%);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 100%;
    max-width: 400px;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.form-container {
    text-align: center;
}

.logo {
    width: 100px;
    margin-bottom: 20px;
}

h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

.brand {
    color: #f77c80;
}

p {
    margin-bottom: 20px;
    color: #666;
}

.input-group {
    margin-bottom: 15px;
    text-align: left;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.password{
    border: 1px solid #ccc;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 12px;

}

.password input{
    width: 80%;
    padding: 10px;
    box-sizing: border-box;
    border: none;
}
.password input:focus{
    outline: none;
}


.signin-btn {
    width: 100%;
    padding: 10px;
    background-color: #f77c80;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.signin-btn:hover {
    background-color: #f77c80;
}

.signup-link {
    margin-top: 15px;
    color: #f77c80;
}

.signup-link a {
    color: #f77c80;
    text-decoration: none;
}

.signup-link a:hover {
    text-decoration: underline;
}

/* Responsive Design */
@media (max-width: 600px) {
    .container {
        padding: 15px;
    }

    .logo {
        width: 80px;
    }

    h1 {
        font-size: 20px;
    }

    .signin-btn {
        font-size: 14px;
    }
}

.strength-bar {
    width: 100%;
    height: 3px;
    background-color: #ddd;
    margin-top: 10px;
  }
  .strength-bar-inner {
    height: 100%;
    width: 0%;
    background-color: red;
    transition: width 0.3s ease;
  }
  .suggestion {
    display: flex;
    align-items: flex-start;
  }