/*-----------------------------------*\
  #main.css
\*-----------------------------------*/

/**
 * copyright 2024 Priya Ghosal
 */

/*-----------------------------------*\
  #CUSTOM PROPERTY
\*-----------------------------------*/
body,
html {
  overflow: auto !important;
}

:root {
  --selective-yellow: hsl(42, 100%, 56%);
  --roman-silver: hsl(240, 6%, 51%);
  --roman-silver_10: hsla(240, 6%, 51%, 0.1);
  --light-coral: hsl(357, 100%, 75%);
  --oxford-blue: hsl(224, 53%, 10%);
  --light-gray: hsl(0, 0%, 80%);
  --keppei: hsl(173, 60%, 47%);
  --white: hsl(0, 0%, 100%);
  --snow: #fffafa;
  --black: hsl(0, 0%, 0%);
  --black_10: hsla(0, 0%, 0%, 0.1);
  --dark-oxford-blue: hsl(224, 53%, 20%);

  /**
   * typography
   */

  --ff-gilroy: "Gilroy", sans-serif;

  --headline-lg: 4.8rem;
  --headline-md: 3rem;
  --headline-sm: 2.4rem;
  --title-lg: 2.2rem;
  --title-md: 2rem;
  --title-sm: 1.8rem;

  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;

  /**
   * spacing
   */

  --section-padding: 56px;

  /**
   * box shadow
   */

  --shadow-1: 0px 35px 65px -10px hsla(0, 0%, 0%, 0.05);
  --shadow-2: 0 10px 40px hsla(0, 0%, 0%, 0.06);

  /**
   * border radius
   */

  --radius-4: 4px;
  --radius-6: 6px;
  --radius-8: 8px;
  --radius-circle: 50%;

  /**
   * transition
   */

  --transition: 0.25s ease;
  --cubic-in: cubic-bezier(0.51, 0.03, 0.64, 0.28);
  --cubic-out: cubic-bezier(0.05, 0.83, 0.52, 0.97);
}

/*-----------------------------------*\
  #RESET
\*-----------------------------------*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a,
img,
span,
button,
ion-icon {
  display:flex;
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
}

img {
  height: auto;
}

button {
  background: none;
  border: none;
  font: inherit;
  cursor: pointer;
}

html {
  font-family: var(--ff-gilroy);
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  background-color: var(--snow);
  color: var(--roman-silver);
  font-size: 1.6rem;
  line-height: 1.5;
  overflow: hidden;
  /*overflow-y: auto;*/
}

body.loaded {
  overflow-y: auto;
  overflow-x: hidden;
}

body.nav-active {
  overflow: hidden;
}

/*-----------------------------------*\
  #REUSED STYLE
\*-----------------------------------*/
/* Styling for the navbar links */
.navbar-link {
  position: relative;
  display: inline-block;
  color: #545454; /* Default color for the regular navbar */
  text-decoration: none;
  font-weight: 500;
  padding-bottom: 5px;
}
body.nav-active .navbar-list .navbar-link {
  color: #4c4b4b; /* Set a different color for hamburger items */
}



/* Underline effect */
.navbar-link::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #ff69b4; /* Pink color for the underline */
  transition: width 0.3s ease-in-out;
}

/* Hover effect to show the underline and change text color */
.navbar-link:hover::after {
  width: 100%;
}

.navbar-link:hover {
  color: #ff69b4; /* Change text color to pink on hover */
  transition: color 0.3s ease-in-out; /* Smooth transition for the text color */
}


.container {
  padding-inline: 16px;
}

.headline-lg,
.headline-md,
.headline-sm,
.title-lg {
  color: var(--oxford-blue);
  font-weight: var(--fw-700);
}

.headline-lg {
  font-size: var(--headline-lg);
  line-height: 1.3;
}

.headline-md {
  font-size: var(--headline-md);
  line-height: 1.2;
}

.headline-sm {
  font-size: var(--headline-sm);
}

.title-lg {
  font-size: var(--title-lg);
  line-height: 1.4;
}

.title-md {
  font-size: var(--title-md);
}

.title-sm {
  font-size: var(--title-sm);
  font-weight: var(--fw-500);
  /* color: #FF69B4; */
}

.section {
  padding-block: var(--section-padding);
}

.has-bg-image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.has-before,
.has-after {
  position: relative;
  z-index: 1;
}

.has-before::before,
.has-after::after {
  content: "";
  position: absolute;
}

.btn {
  background-color: #1a1a1a;
}

:is(.btn-primary, .btn-secondary):is(:hover, :focus-visible) {
  box-shadow: 0 0 0 2px var(--white), 0 0 0 5px var(--bg);
}

.btn-tertiary {
  --bg: var(--white);
  color: var(--oxford-blue);
  font-weight: var(--fw-600);
}

:is(.headline-lg, .headline-md) .span {
  color: var(--light-coral);
  display: inline;
}

.section-subtitle {
  font-weight: var(--fw-600);
  color: black;
  margin-block-end: 4px;
}

.text-center {
  text-align: center;
}

.headline-md .has-after {
  padding-block-end: 8px;
}

.headline-md .has-after::after {
  background-image: url("../images/line-shape.svg");
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: contain;
  z-index: -1;
}

.grid-list {
  display: grid;
  gap: 28px;
}

.card {
  position: relative;
  background-color: var(--white);
  padding: 24px;
  border-radius: var(--radius-8);
  transition: var(--transition);
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0)
  );
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  transition: all 0.5s;
}

.card:is(:hover, :focus-within) {
  box-shadow: var(--shadow-1);
}

.layer-link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.w-100 {
  width: 100%;
}

.img-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*-----------------------------------*\
  #PRELOADER
\*-----------------------------------*/

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: var(--light-coral);
  display: grid;
  place-items: center;
  z-index: 6;
  transition: var(--transition);
}

.preloader.loaded {
  visibility: hidden;
  opacity: 0;
}

.preloader .circle {
  width: 50px;
  height: 50px;
  border-radius: var(--radius-circle);
  border: 4px solid var(--white);
  border-block-start-color: transparent;
  animation: rotate360 1s ease infinite;
}

@keyframes rotate360 {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(1turn);
  }
}

/*-----------------------------------*\
  #HEADER
\*-----------------------------------*/

.header .btn {
  display: none;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-block: 15px;
  z-index: 4;
}

.header.active {
  background-color: var(--white);
  position: fixed;
  box-shadow: var(--shadow-2);
  animation: headerActive 0.5s ease forwards;

  .searchBox {
    background: hsl(0deg 89.85% 94.83%);
  }
}

@keyframes headerActive {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0);
  }
}

.header .container,
.navbar-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar {
  position: fixed;
  top: 0;
  left: -320px;
  max-width: 320px;
  width: 100%;
  background-color: var(--white);
  height: 100vh;
  padding: 40px 16px;
  z-index: 2;
  transition: 0.25s var(--cubic-in);
  visibility: hidden;
}
.navbarContain{
  display: flex;
}

.navbar.active {
  transition: 0.5s var(--cubic-out);
  visibility: visible;
  transform: translateX(320px);
}

.navbar-top {
  margin-block-end: 34px;
}

.nav-close-btn ion-icon {
  --ionicon-stroke-width: 35px;
}

.nav-close-btn {
  margin: 0px;
}

.navbar-item:not(:last-child) {
  border-block-end: 1px solid var(--black_10);
}

.navbar-link {
  padding-block: 8px;
  transition: var(--transition);
  padding-left: 1rem;
}

.navbar-link:is(:hover, :focus-visible) {
  color: var(--oxford-blue);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 50%;
  height: 100vh;
  background-color: white;

  opacity: 0;
  visibility: hidden;
  transition: var(--transition);
  /* z-index: 999; */
}

.overlay.active {
  opacity: 1;
  visibility: visible;
  backdrop-filter: blur(15);
}

/*-----------------------------------*\
  #HERO
\*-----------------------------------*/

.hero-banner {
  display: none;
}

.hero {
  padding-block-start: calc(var(--pt, 96px) + var(--section-padding));
}

.hero .title-md {
  font-weight: var(--fw-500);
  padding-inline-start: 16px;
  margin-block: 24px 44px;
}

.hero .title-md::before {
  top: 0;
  left: 0;
  width: 2px;
  height: 100%;
  background-color: var(--light-coral);
}

.hero .btn-group {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.button-container {
  display: flex;
  justify-content: center;
  /* Center horizontally */
  align-items: center;
  /* Center vertically */
  margin: 0;
  /* Remove default margin */
  padding: 0;
  /* Remove default padding */
}

.btn-primary {
  position: relative;
  /* Positioning for the arrows */
  padding: 10px 50px;
  /* Add padding to make space for the arrows */
  transition: color 0.3s ease;
  /* Smooth transition for text color */
  font-size: 16px;
  /* Adjust font size as needed */
}

.btn-primary::after {
  content: " ⪢";
  /* Two arrows as content */
  position: absolute;
  /* Position it absolutely */
  right: 5px;
  /* Position on the right side */
  top: 50%;
  /* Center vertically */
  transform: translateY(-55%);
  /* Adjust vertical position */
  opacity: 0;
  /* Start with the arrows hidden */
  transition: opacity 0.3s ease;
  /* Smooth transition for opacity */
}

.btn-primary:hover {
  color: #ffffff;
  /* Change text color on hover (optional) */
}

.btn-primary:hover::after {
  opacity: 1;
  /* Show the arrows on hover */
}

/*-----------------------------------*\
  #Feedback
\*-----------------------------------*/

.feedback-Section {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  padding: 3rem;
}

.feedback-button {
  position: fixed;
  left: 20px;
  bottom: 20px;
  background-color: hsl(357, 100%, 75%);
  color: white;
  padding: 15px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.feedback-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  width: 300px;
  text-align: center;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.emojis {
  font-size: 30px;
  margin: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.emoji {
  cursor: pointer;
  margin: 0 10px;
  transition: transform 0.2s;
}

.emoji:hover {
  transform: scale(1.2);
}

.emoji.selected {
  border: 1px solid black;
  /* Highlight selected emoji */
  border-radius: 5px;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

textarea,
input[type="email"] {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

.feedbackPopUp {
  position: fixed;
  transform: translate(120%);
  transition: all 1s ease-in-out;
  right: 20px;
  bottom: 100px;
  background-color: hsl(357, 100%, 75%);
  color: white;
  padding: 15px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.PopUpDisplay {
  transition: all 1.5s ease-in-out;
  transform: translate(0);
}

/*-----------------------------------*\
  #CATEGORY
\*-----------------------------------*/

.category .grid-list {
  padding-block: 40px 52px;
}

.category-card {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  border-inline-start: 4px solid transparent;
}

.category-card:is(:hover, :focus-within) {
  border-color: var(--light-coral);
}

.category-card .title-sm {
  margin-block-start: 4px;
}

.category .btn {
  margin-inline: auto;
}

#category-card1 {
  transition: transform 0.3s ease;
}

#category-card1:hover {
  transform: scale(1.025);
}

#category-card2 {
  transition: transform 0.3s ease;
}

#category-card2:hover {
  transform: scale(1.025);
}

#category-card3 {
  transition: transform 0.3s ease;
}

#category-card3:hover {
  transform: scale(1.025);
}

#category-card4 {
  transition: transform 0.3s ease;
}

#category-card4:hover {
  transform: scale(1.025);
}

#category-card5 {
  transition: transform 0.3s ease;
}

#category-card5:hover {
  transform: scale(1.025);
}

#category-card6 {
  transition: transform 0.3s ease;
}

#category-card6:hover {
  transform: scale(1.025);
}

/*-----------------------------------*\
  #ABOUT
\*-----------------------------------*/

.about .container {
  display: grid;
  gap: 30px;
}

.about .section-text,
.progress-list li:not(:last-child) {
  margin-block-end: 32px;
}

.progress-label-wrapper {
  display: flex;
  justify-content: space-between;
  margin-block-end: 8px;
}

.progress-label-wrapper .title-sm {
  color: var(--oxford-blue);
  font-weight: var(-fw-600);
}

.progress {
  background-color: var(--roman-silver_10);
  height: 6px;
  border-radius: var(--radius-6);
}

.progress-fill {
  height: 100%;
  border-radius: inherit;
}

.progress-fill.red {
  background-color: var(--light-coral);
  width: 86%;
}

.progress-fill.green {
  background-color: var(--keppei);
  width: 67%;
}

.progress-fill.yellow {
  background-color: var(--selective-yellow);
  width: 95%;
}

/*-----------------------------------*\
  #COURSE
\*-----------------------------------*/

.course .grid-list {
  padding-block: 20px 44px;
}

.course .grid-list {
  padding-block: 20px 44px;
}

.heading1 {
  height: 200px;
}

.heading2 {
  height: 206px;
}

.image2 {
  height: 200px;
}

.course-card {
  border-block-end: 4px solid transparent;
  display: flex;
  flex-direction: column;
  gap: 24px;
  z-index: 2;
}

.course-card:is(:hover, :focus-within) {
  border-color: var(--light-coral);
}

.course-card .card-banner {
  height: 160px;
  background-color: var(--light-gray);
  overflow: hidden;
  border-radius: var(--radius-4);
}

.course-card :is(.wrapper, .rating-wrapper) {
  display: flex;
  align-items: center;
}

.course-card .wrapper {
  justify-content: space-between;
  gap: 16px;
}

.course-card .card-price {
  color: var(--light-coral);
}

.course-card .rating-wrapper {
  gap: 4px;
}

.course-card .card-title {
  margin-block: 8px 16px;
}

.course-card .card-meta {
  justify-content: flex-start;
}

.course-card .card-meta .title-sm {
  display: flex;
  gap: 8px;
}

.course .btn {
  margin-inline: auto;
}

/*-----------------------------------*\
  #CTA
\*-----------------------------------*/

.cta {
  background-color: #008080;
  padding: 48px 24px;
  text-align: center;
 
}

.cta-container {
  display: flex; 
  justify-content: space-around;
  align-items: center;
}

.cta .headline-md {
  color: var(--white);
}


#contact-form textarea::placeholder {
  font-family: var(--ff-gilroy);
}

  .livecounting {
  margin-top: 100px;
  }


  .livecounting-container {
    display: flex;
    gap: 30px; 
    padding: 20px;
    flex-wrap: wrap;
    justify-content: center;
  }

  .live-count {
    min-width: 200px;
    height: 150px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  .live-count-emoji {
    font-size: 30px;
    color: black;
  }

  .live-count-text-count {
    font-size: 20px;
    font-weight: bold;
    color: black;
  }

  .live-count-text-wrapper {
    font-size: 14px;
    color: gray;
  }

  /* Media query for smaller screens */
  @media (max-width: 768px) {
    .container {
      flex-direction: column;
      align-items: center;
      gap: 20px;
    }
  }
.cta .btn {
  background-color: transparent;
  border: 2px solid var(--white); /* Keppei color for button borders */
  padding: 16px 28px; /* Bigger padding for a larger button */
  border-radius: 10px;
  font-size: 1.4rem; /* Larger font size for buttons */
  color: var(--white); /* Keppei color for the text */
  text-decoration: none;
  font-weight: bold; /* Bolder button text */
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
}

.cta .btn:is(:hover, :focus-within) {
  background-color: var(--light-coral); /* Keppei background on hover */
  transform: scale(1.1); /* Slightly bigger button on hover */
}

.parent {
  display: flex;
  justify-content: center;
  /* Center horizontally */
  align-items: center;
  /* Center vertically */
  height: 40vh;
  /* Set parent height to fill the viewport */
}

.scroll-container h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px;
  color: black;
}

.scroll-container {
  width: 100%;
  max-width: 1100px;
  margin-bottom: 40px;
}

.scroll {
  position: relative;
  display: flex;
  overflow: hidden;
  -webkit-mask-image: linear-gradient(
    90deg,
    transparent,
    #fff 20%,
    #fff 80%,
    transparent
  );
}

.scroll span img {
  max-width: 30px;
  margin-right: 8px;
  border-radius: 50%;
  vertical-align: middle;
  /* Aligns the image vertically with the text */
}

.scroll div {
  white-space: nowrap;
  animation: scroll var(--time) linear infinite;
  animation-delay: calc(var(--time) * -1);
}

.scroll div:nth-child(2) {
  animation: scroll2 var(--time) linear infinite;
  animation-delay: calc(var(--time) / -2);
}

@keyframes scroll {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }
}

@keyframes scroll2 {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-200%);
  }
}

.scroll div span {
  display: inline-flex;
  margin: 10px;
  letter-spacing: 0.2em;
  background: #c0bdbd;
  color: #fff;
  min-height: 40px;
  padding: 5px 10px;
  border-radius: 5px;
  transition: 0.5s;
}

.scroll div span:hover {
  background: #3fd2f9;
  cursor: pointer;
}

.imgBox div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.imgBox img {
  max-width: 100px;
  scale: 0.8;
}

@media (max-width: 768px) {
  .footerNav ul {
    flex-direction: column;
  }

  .footerNav ul li {
    width: 100%;
    text-align: center;
    margin: 10px;
  }
}

@keyframes slide {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}

.outer-logos {
  padding: 0 100px;
}

.logos {
  overflow: hidden;
  padding: 60px 0;
  background: white;
  white-space: nowrap;
  position: relative;
}

.logos h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 80px;
}

.logos:hover .logos-slide {
  animation-play-state: paused;
}

.logos:before,
.logos:after {
  position: absolute;
  top: 0;
  width: 250px;
  height: 100%;
  content: "";
  z-index: 2;
}

.logos:before {
  left: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
}

.logos:after {
  right: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
}

.logos-slide {
  display: inline-block;
  animation: 15s slide infinite linear;
  width: max-content;
}

.logos-slide img {
  height: 50px;
  margin: 0 20px;
}

@media screen and (max-width: 768px) {
  .outer-logos {
    padding: 0 40px;
  }

  .logos-slide {
    display: column;
    width: max-content;
  }

  .logos h1 {
    font-size: 35px;
    margin-bottom: 50px;
  }

  .logos-slide img {
    height: 40px;
    margin: 8px 15px;
  }
}

@media screen and (max-width: 431px) {
  .outer-logos {
    padding: 0 20px;
  }

  .logos:before,
  .logos:after {
    width: 110px;
  }

  .logos-slide {
    display: column;
    width: max-content;
  }

  .logos {
    padding: 40px 0;
  }

  .logos h1 {
    font-size: 22px;
    margin-bottom: 30px;
  }

  .logos-slide img {
    height: 30px;
    margin: 0 10px;
  }
}

/*-----------------------------------*\
  #BLOG
\*-----------------------------------*/

.blog .grid-list {
  padding-block: 20px 44px;
}

.blog-card {
  border-block-end: 4px solid transparent;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.blog-card:is(:hover, :focus-within) {
  border-color: var(--light-coral);
}

.blog-card .card-banner {
  height: 160px;
  background-color: var(--light-gray);
  overflow: hidden;
  border-radius: var(--radius-4);
}

.blog-card p {
  text-align: justify;
  margin: 13px auto;
}

.blog .grid-list {
  padding-top: 45px;
  padding-bottom: 50px;
}

.blog-card a {
  color: var(--light-coral);
  font-size: 20px;
}

.blog .btn {
  margin-inline: auto;
}

/*-----------------------------------*\
  #FOOTER
\*-----------------------------------*/

.footer-top .container {
  display: flex;
  gap: 24px;
  justify-content: space-around;
}

.footer-logo-text {
  display: flex;
  width: 300px;
  flex-direction: column;
}

.footer-text {
  margin-block: 40px 32px;
}

.social-list {
  display: flex;
  gap: 16px;
}

.footer-list-title {
  margin-block-end: 32px;
}

.footer-link {
  margin-block-start: 16px;
}

.footer-top .grid-list {
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
}

#footer-logo {
  width: 100px;
  height: 100px;
}

.footer-top .grid-list .img-cover {
  width: 80px;
  height: 80px;
  border-radius: var(--radius-6);
}

.footer-bottom {
  padding-block: 32px;
  text-align: center;
  border-block-start: 1px solid var(--black_10);
}

.footer-link:is(:hover, :focus-visible) {
  color: var(--oxford-blue);
}

.copyright {
  font-weight: var(--fw-500);
}

#instapost1 {
  transition: transform 0.3s ease;
}

#instapost1:hover {
  transform: scale(1.15);
}

#instapost2 {
  transition: transform 0.3s ease;
}

#instapost2:hover {
  transform: scale(1.15);
}

#instapost3 {
  transition: transform 0.3s ease;
}

#instapost3:hover {
  transform: scale(1.15);
}

#instapost4 {
  transition: transform 0.3s ease;
}

#instapost4:hover {
  transform: scale(1.15);
}

#instapost5 {
  transition: transform 0.3s ease;
}

#instapost5:hover {
  transform: scale(1.15);
}

#instapost6 {
  transition: transform 0.3s ease;
}

#instapost6:hover {
  transform: scale(1.15);
}

#footer-logo {
  transition: transform 0.3s ease;
}

#footer-logo:hover {
  transform: scale(1.05);
}

#social-link1 {
  transition: transform 0.3s ease;
}

#social-link1:hover {
  transform: scale(1.1);
}

#social-link2 {
  transition: transform 0.3s ease;
}

#social-link2:hover {
  transform: scale(1.1);
}

#social-link3 {
  transition: transform 0.3s ease;
}

#social-link3:hover {
  transform: scale(1.1);
}

#social-link4 {
  transition: transform 0.3s ease;
}

#social-link4:hover {
  transform: scale(1.1);
}

#social-link5 {
  transition: transform 0.3s ease;
}

#social-link5:hover {
  transform: scale(1.1);
}

/*-----------------------------------*\
  #CONTAINER QUERIES
\*-----------------------------------*/

/**
 * container query for card
 */

.card-container {
  container-type: inline-size;
}

@container (min-width: 500px) {
  .course-card {
    flex-direction: row;
  }

  .course-card .card-banner {
    width: 160px;
    flex-shrink: 0;
  }
}

/*-----------------------------------*\
  #MEDIA QUERIES
\*-----------------------------------*/

/**
 * responsive for large than 575px screen
 */

@media (min-width: 575px) {
  /**
   * REUSED STYLE
   */

  .container {
    max-width: 640px;
    width: 100%;
    margin-inline: auto;
  }

  .card {
    padding: 32px;
  }
}

/**
 * responsive for large than 768px screen
 */
 .nav-open-btn{
  position: absolute;
  right:0;
  margin-right: 5vw;
  margin-top: 0.8vw;
 }

@media (min-width: 768px) {
  /**
   * CUSTOM PROPERTY
   */

  :root {
    /**
     * typography
     */

    --headline-lg: 6rem;
    --headline-md: 3.8rem;

    /**
     * spacing
     */

    --section-padding: 80px;
  }

  /**
   * REUSED STYLE
   */

  .container {
    max-width: 768px;
  }

  .grid-list {
    grid-template-columns: 1fr 1fr;
  }

  /**
   * CTA
   */

  .cta {
    padding-block: 78px;
  }
}

/**
 * responsive for large than 992px screen
 */

@media (min-width: 1485px) {
  :root {
    /**
     * typography
     */

    --headline-lg: 7.7rem;
    --headline-md: 4.4rem;

    /**
     * spacing
     */

    --section-padding: 120px;
  }

  /**
   * REUSED STYLE
   */

  .container {
    max-width: 1024px;
  }

  .btn {
    padding: 10px 22px;
    font-size: 1.8rem;
    border-radius: 10px;
    color: #fff;
  }

  /**
   * HEADER
   */

  .nav-open-btn,
  .overlay,
  .navbar-top {
    display: none;
  }

  .navbar,
  .navbar.active {
    all: unset;
    display: block;
    width: 100%;
  }

  .navbar-list {
    display: flex;
  }

  .navbar-item:not(:last-child) {
    border-block-end: none;
  }


  .navbar-link {
    padding: 8px 16px;
  }

  .header .btn {
    display: block;
    box-shadow: none;
  }

  /**
   * CATEGORY
   */

  .grid-list {
    grid-template-columns: repeat(3, 1fr);
  }

  /**
   * ABOUT
   */

  .about .container {
    grid-template-columns: 1fr 1fr;
  }

  /**
   * COURSE
   */

  .course .grid-list {
    grid-template-columns: 1fr 1fr;
    margin-block: 40px 48px;
  }

  /**
   * FOOTER
   */

  .footer-top .container {
    grid-template-columns: 1fr 0.5fr 0.5fr 0.8fr;
  }

  .footer-brand {
    padding-inline-end: 24px;
  }
}

/**
 * responsive for large than 1200px screen
 */

@media (min-width: 1200px) {
  /**
   * REUSED STYE
   */

  .container {
    max-width: 1170px;
  }

  /**
   * HERO
   */

  .hero-banner {
    display: block;
    max-width: max-content;
    margin-inline-end: -14%;
  }

  .hero .container {
    display: grid;
    grid-template-columns: 1fr 0.9fr;
    gap: 48px;
  }

  .hero .title-md {
    margin-block: 40px 60px;
  }

  /**
   * ABOUT
   */

  .about .container {
    grid-template-columns: 1fr 0.7fr;
  }

  /**
   * CTA
   */

  .cta {
    text-align: left;
  }

  .cta .headline-md {
    max-width: 22ch;
  }

  .cta .btn {
    margin-inline: 0;
  }

  .footer .container {
    gap: 1rem;
  }
}

/* General dark mode settings */
body.dark-mode .navbar {
  background-color: var(--keppei);
  /* Background color for navbar in dark mode */
  color: var(--white);
  /* Text color */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  /* Optional shadow for better visibility */
}

body.dark-mode {
  background-color: var(--oxford-blue);
}

/* Navbar list background in dark mode */
body.dark-mode.navbar {
  background-color: var(--oxford-blue);
  color: var(--white);
}

/* Button styles in dark mode */
body.dark-mode .navbar a:hover {
  background-color: var(--keppei);
  color: var(--white);
}

/* Hover effect for navbar buttons */
body.dark-mode .navbar a {
  color: var(--white);
}

/* Other styles */
body.dark-mode .btn:hover {
  background-color: var(--white);
  color: var(--oxford-blue);
}

body.dark-mode #theme-toggle {
  background-color: var(--oxford-blue);
}

body.dark-mode #theme-icon {
  color: var(--white);
}

body.dark-mode h1 {
  color: aliceblue;
}

#theme-toggle {
  background-color: var(--light-gray);
  border-radius: var(--radius-circle);
  padding: 10px;
  cursor: pointer;
  transition: var(--transition);
}

#theme-toggle:hover {
  background-color: var(--roman-silver);
}

#theme-icon {
  font-size: 24px;
  color: var(--oxford-blue);
}

body.dark-mode.navbar {
  background-color: var(--oxford-blue);
  color: var(--white);
}

body.dark-mode .navbar a:hover {
  background-color: var(--keppei);
  color: var(--white);
}

/* Navbar links in dark mode */
body.dark-mode .navbar a {
  color: var(--white);
}

/* Hover effect in dark mode */
body.dark-mode .btn:hover {
  background-color: var(--white);
  color: var(--oxford-blue);
}

/* Default Light Theme (No box) */
.navbar {
  background-color: var(--light-background);
  /* Light background for the navbar */
  color: var(--dark-text);
  /* Dark text color */
  width:90vw;
  /* No padding for box-less design */
  box-shadow: none;
  /* No shadow in light mode */
  border-radius: 0;
  /* No rounding */
}

.navbar-list {
  width:100%; 
}


/* .navbar-link {
  color: var(--white);
  /* Dark text for visibility */
/* } */ */

.navbar-link:hover {
  background-color: var(--light-background-hover);
  /* Highlight on hover */
  color: var(--dark-text);
  /* Keep the text dark */
}

form {
  max-width: 400px;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}
button {
  padding: 15px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

@media (max-width: 1037px) {
  .footer-logo-text {
    flex-direction: column;
    width: fit-content;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .footer-top .container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }

  #theme-toggle {
    right: 125px;
    top: 5px;
  }

  /* Can be used if wanting a more linear Instagram post feed but as a viewer I like the grid better
  .footer-top .grid-list {
  grid-template-columns: repeat(6, 1fr);
  gap: 16px;
} */

  .footer-list {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    gap: 30px;
    width: max-content;
  }

  .footer-list-title {
    display: none;
  }

  .social-list {
    padding-top: 20px;
    align-items: center;
    justify-content: center;
  }

  ul.footer-list.instagram > li > p.footer-list-title {
    display: block;
    margin-bottom: 5px;
  }
}

/* Search Bar */
/* From Uiverse.io by OnlyCodeChannel */
.navRightSide {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.searchBox {
  display: flex;
  max-width: 250px;
  height: 45px;
  align-items: center;
  justify-content: space-between;
  gap: 8px;

  background: white;
  border-radius: 50px;
  position: relative;
}

.searchButton {
  color: white;
  position: relative;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: var(
    --gradient-2,
    linear-gradient(90deg, var(--light-coral) 20%, var(--selective-yellow) 100%)
  );
  border: 0;
  display: inline-block;
  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

input.searchInput {
  margin-left: 5px;
}

.searchButton svg {
  position: absolute;
  top: 5px;
  right: 3px;
}

/*hover effect*/
.SearchBTN:hover {
  color: #fff;
  background-color: #1a1a1a;
  box-shadow: rgba(0, 0, 0, 0.5) 0 10px 20px;
  transform: translateY(-3px);
}

/*button pressing effect*/
.SearchBTN:active {
  box-shadow: none;
  transform: translateY(0);
}

.searchInput::placeholder {
  color: var(--light-coral);
}

.searchInput {
  border: none;
  background: none;
  outline: none;
  color: black;
  font-size: 15px;
  padding: 8px;
}

.svgxml {
  position: absolute;
  top: 0;
  left: 0;
}

@media (max-width: 768px) {
  .footer-list li a.title-sm {
    font-size: 1.3rem;
  }

  .footer-list.instagram li p.headline-sm {
    font-size: 1.7rem;
    margin-top: 10px;
  }

  .footer-top .container {
    gap: 20px;
  }

  .footer-logo-text p.title-sm {
    font-size: 1.3rem;
  }

  #footer-logo {
    width: 60px;
    height: 60px;
  }
}

@media (max-width: 575px) {
  .footer-list {
    gap: 10px;
  }

  .footer-list li a.title-sm {
    font-size: 1rem;
  }

  .footer-top .container {
    gap: 15px;
  }

  .social-list {
    padding-top: 0;
  }

  .footer-bottom p {
    font-size: 1rem;
  }
}

.headline {
  animation-name: pulse;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

@keyframes pulse {
  0% {
    transform: translateY(-3.5px);
  }

  50% {
    transform: translateY(0px);
  }

  100% {
    transform: translateY(-3.5px);
  }
}

body {
  background-color: #ffede7;
}

.header1 {
  animation-name: pulse1;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

.header2 {
  animation-name: pulse2;
  animation-duration: 1.8s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

.header3 {
  animation-name: pulse3;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

.header4 {
  animation-name: pulse4;
  animation-duration: 1.8s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

.header5 {
  animation-name: pulse5;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

.header6 {
  animation-name: pulse6;
  animation-duration: 1.8s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

@keyframes pulse1 {
  0% {
    transform: translateY(-3.5px);
  }

  50% {
    transform: translateY(0px);
  }

  100% {
    transform: translateY(-3.5px);
  }
}

@keyframes pulse2 {
  0% {
    transform: translateY(-5px);
  }

  50% {
    transform: translateY(0px);
  }

  100% {
    transform: translateY(-5px);
  }
}

@keyframes pulse3 {
  0% {
    transform: translateY(-3.5px);
  }

  50% {
    transform: translateY(0px);
  }

  100% {
    transform: translateY(-3.5px);
  }
}

@keyframes pulse4 {
  0% {
    transform: translateY(-5px);
  }

  50% {
    transform: translateY(0px);
  }

  100% {
    transform: translateY(-5px);
  }
}

@keyframes pulse5 {
  0% {
    transform: translateY(-3.5px);
  }

  50% {
    transform: translateY(0px);
  }

  100% {
    transform: translateY(-3.5px);
  }
}

@keyframes pulse6 {
  0% {
    transform: translateY(-5px);
  }

  50% {
    transform: translateY(0px);
  }

  100% {
    transform: translateY(-5px);
  }
}

.card-banner {
  margin-bottom: 15px;
  /* Space between image and quote */
}

.grid-list {
  margin-top: 30px;
  /* Space between heading and cards */
  margin-bottom: 30px;
  /* Space below cards */
}

.testimonial-content {
  margin-bottom: 10px;
  /* Space between quote and name (optional) */
}
